body{
    display: flexbox;
    justify-content: center;
    background-image: url('imagens/papel_background.jpg');
    background-color: rgb(240, 220, 195);
    background-size: auto;
}

#titulo{
    display: flex;
    justify-content: center;
    margin: 0 3em;
    border-radius: 10px;
    color: burlywood;
    background-color: brown;
    font-size: large;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

button{
    width: 10em;
    height: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: burlywood;
    background-color: brown;
    border-style: hidden;
    border-radius: 10px;
    margin: 10px 10px;
    vertical-align: top;
}

#opcoes{
    display: flex;
    justify-content: center;
}

button:active{
    background-color: rgba(214, 98, 15, 0.548);
    color:rgb(179, 6, 6);
}